<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="appMonitor" type="Xervizio.Plugins.AppMonitor.Configuration.AppMonitorConfiguration, Xervizio.Plugins.AppMonitor"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appMonitor monitorMailSender="appmonitor@greenova.de">
    <targets>
      <add name="GreeNova.LRP" applicationUrl="https://h41201.www4.hp.com/LRP/Admin/SignIn/" errorNotificationMailRecipients="pascua@greenova.de" />
      <add name="GreeNova.LRP.KeepWaiting" applicationUrl="http://localhost:59324/LRPServices/Diagnostics/KeepWaiting/" errorNotificationMailRecipients="pascua@greenova.de" />
    </targets>
  </appMonitor>

  <system.net>
    <mailSettings>
      <smtp from="hp-lrp-monitoring@greenova.de">
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
