<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <appSettings>
    <add key="baseAddress" value="http://localhost:8503"/>
    <add key="hostSwitchBasePath" value="E:\src\Projekte2010\Xervizio\src\Xervizio.Host.Standalone\bin\Debug\Plugins\Xervizio.Plugins.WebSwitch\HostSwitch"/>
  </appSettings>
  
</configuration>
