<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="xervizio" type="Xervizio.Configuration.XervizioConfigurationSection, Xervizio"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <xervizio serviceName="GreeNova.LRP.BackgroundServices" displayName="LRP Background Services"/>
  
</configuration>
