<?xml version="1.0"?>
<log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString" value="logs\\HP.GPS.LRP.Automation.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maximumFileSize value="4096KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger %message %newline" />
    </layout>
  </appender>

  <root>
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>
